# Example config.properties for edpmonitoring
# Place a copy named `config.properties` in the same directory where you run the app.

# JDBC URL for MariaDB
# db.url=jdbc:mariadb://127.0.0.1:3306/edp_monitoring

# Database user
# db.user=edp_user

# Database password
# db.password=edp_password

# Api Url
# api.url=http://

# Api Token
# api.token=your_api_token_here

# Set Unit Mapping
# unit.[n].name=Unit Name
# unit.[n].api_id=Unit ID

# Upload Units from DB to API
# db.units.upload=false